/* RESET */
* {
    box-sizing: border-box;
    /* border: 1px black solid; */
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "Fraunces";
    src: url(../fonts/Fraunces.woff2) format("woff2");
}
@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat.woff2) format("woff2");
    
}

/* MAIN */

body {
    font-family: "Montserrat", monospace;
    font-size: 14px;

    background-color: hsl(30, 38%, 92%);
    padding-top: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}
article {
    display: flex;

    background-color: white;

    /* flex-basis: 60%; */
    width: 600px;
    height: fit-content;

    border-radius: 15px;
    overflow: hidden;
}
picture {
    display: flex;
    width: 50%;
    
}
img {
    display: flex;
    
}
.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 300px;

    padding: 20px;
    gap: 20px;
}
header, h1, p, button {
    width: 100%;
}
header {
    letter-spacing: .3rem;
}
p {
    width: 90%;
    line-height: 200%;
}
button {
    display: flex;
    height: 40px;
    background-color: hsl(158, 36%, 37%);
    
    border-radius: 10px;

    justify-content: center;
    align-items: center;
    gap: 10px;

}
button:hover {
    background-color: hsl(212, 21%, 14%);
}
.cart {
    display: inline-block;
    height: 15px;
}
a {
    display: inline-block;

    color: white;
    text-decoration: none;
}
h1, .price {
    font-family: "Fraunces", monospace;
    font-weight: 700;
    
    font-size: 30px;
    display: flex;
    align-items: center;
}
h1 {
    width: 80%;
    line-height: 100%;
}
.price {
    color: hsl(158, 36%, 37%);
}
.original {
    display: flex;
    align-items: center;
    text-decoration: line-through;
}
